* {
    margin: 0;
}

h1 {
    background: linear-gradient(95.17deg, #0577fe 0.94%, rgba(77, 156, 247, 0.6) 100%);
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 9px;
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 18px;
}


body{
    
    background: linear-gradient(180deg, rgba(216,235,250,0.6) 14.63%,rgba(136,186,240,0.62)100%);
}

#fac-info {
    display: flex;
    flex-direction: column;
    height: 4500px;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

#card1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*margin-top:5em;*/
    border: 0.25px solid ;
    height: 200px;
    width: 80%;
    background: white;
    box-shadow: 0px 4px 4px rgb(0,0,0,0.5);
    border-radius: 10px;
}


#prof1 {
    border-radius: 90em;
    height: 125px;
    width: 125px;
    display: flex;
}

#p1-shrtinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(max-width:360px) {
    h1 {
        font-size: 95%;
        font-family: 'IBM Plex Sans Devanagari', sans-serif;
    }

    h2 {
        font-size: 89%;
    }

    p {
        font-size: 80%;
        font-family: 'Roboto', sans-serif;
    }

    #prof1 {
        height: 100px;
        width: 100px;
    }

    #card1 {
        height: 120px;
        width: 90%;
    }
}